html(lang="en")
    head
        title Page title
        meta(charset="utf-8")
        meta(name="viewport", content="width=device-width, initial-scale=1, shrink-to-fit=no")
        meta(name="description", content="")
        meta(name="author", content="")
        link(rel="stylesheet", href="https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;600;700&display=swap")
        link(rel="stylesheet", href="css/tailwind/tailwind.min.css")
        link(rel="icon", type="image/png", sizes="16x16", href="favicon-tailwind.png")
        script(src="js/main.js")
    body(class="antialiased bg-body text-body font-body")
        div(class="")
            section(class="py-8 px-4 lg:px-10 bg-white")
                div(class="w-1/2 md:w-full px-4 mx-auto")
                    nav(class="relative")
                        div(class="flex justify-between items-center")
                            a(class="text-xl text-blue-800 font-semibold", href="#")
                                img(class="h-7", src="bendis-assets/logos/bendis-blue.svg", alt="", width="auto")
                            div(class="lg:hidden")
                                button(class="navbar-burger flex items-center p-3 rounded")
                                    svg(class="text-blue-800 block h-4 w-4", viewbox="0 0 20 20", xmlns="http://www.w3.org/2000/svg", fill="currentColor")
                                        title Mobile menu
                                        path(d="M0 3h20v2H0V3zm0 6h20v2H0V9zm0 6h20v2H0v-2z")
                            ul(class="hidden absolute top-1/2 left-1/2 transform -translate-y-1/2 -translate-x-1/2 lg:flex lg:w-auto lg:space-x-10")
                                li
                                    a(class="text-blue-800 font-semibold hover:text-blue-700", href="#") About
                                li
                                    a(class="text-blue-800 font-semibold hover:text-blue-700", href="#") Company
                                li
                                    a(class="text-blue-800 font-semibold hover:text-blue-700", href="#") Services
                                li
                                    a(class="text-blue-800 font-semibold hover:text-blue-700", href="#") Testimonials
                            div(class="hidden lg:block")
                                a(class="inline-block px-8 text-blue-800 hover:text-blue-700 font-semibold", href="#") Sign in
                                a(class="inline-block py-3 px-8 text-sm text-blue-800 hover:text-blue-700 leading-normal uppercase font-semibold border-2 border-blue-800", href="#") GO PRO!
                div(class="hidden navbar-menu fixed top-0 left-0 bottom-0 w-5/6 max-w-sm z-50")
                    div(class="navbar-backdrop fixed inset-0 bg-blue-800 opacity-90")
                    nav(class="relative flex flex-col py-8 w-full h-full bg-white border-r overflow-y-auto")
                        div(class="flex items-center mb-16 pr-6")
                            a(class="ml-16 mr-auto text-xl text-blue-800 font-semibold leading-none", href="#")
                                img(class="h-7", src="bendis-assets/logos/bendis-blue.svg", alt="", width="auto")
                        div
                            ul
                                li(class="mb-1")
                                    a(class="block pl-16 py-5 font-semibold text-blue-800 hover:bg-blue-50 rounded", href="#") About
                                li(class="mb-1")
                                    a(class="block pl-16 py-5 font-semibold text-blue-800 hover:bg-blue-50 rounded", href="#") Company
                                li(class="mb-1")
                                    a(class="block pl-16 py-5 font-semibold text-blue-800 hover:bg-blue-50 rounded", href="#") Services
                                li(class="mb-1")
                                    a(class="block pl-16 py-5 font-semibold text-blue-800 hover:bg-blue-50 rounded", href="#") Testimonials
                        div(class="mt-auto px-10")
                            div(class="pt-6")
                                a(class="block mb-2 py-4 text-center text-blue-800 font-semibold", href="#") Sign in
                                a(class="block py-4 text-center text-blue-800 leading-normal uppercase border-2 border-blue-800 hover:bg-blue-50 font-semibold", href="#") GO PRO!
                            p(class="mt-6 mb-4 text-sm text-center text-blue-400")
                                span © 2021 All rights reserved © Wireframes Corporation 2021
            section(class="px-4 lg:px-10 bg-white")
                div(class="w-1/2 md:w-full px-4 mx-auto")
                    h2(class="text-4xl text-blue-800 mb-2 leading-tight font-bold font-heading py-4") Create New post
            section(class="px-4 lg:px-10 bg-white")
                div(class="w-1/2 md:w-full px-4 mx-auto")
                    div(class="flex flex-wrap -mx-4 -mb-4 md:mb-0")
                        div(class="w-full md:w-1/2 px-4 mb-4 md:mb-0")
                            div(class="mb-6")
                                label(class="block text-gray-800 text-sm font-semibold mb-2", for="") Product name
                                input(class="block w-full py-4 pl-6 mb-2 text-sm placeholder-blue-400 text-blue-400", type="text", name="field-name", placeholder="Write a text")
                            div(class="mb-6")
                                label(class="block text-gray-800 text-sm font-semibold mb-2", for="") Price
                                input(class="block w-full py-4 pl-6 mb-2 text-sm placeholder-blue-400 text-blue-400", type="text", name="field-name", placeholder="Write a text")
                            div(class="mb-6")
                                label(class="block text-gray-800 text-sm font-semibold mb-2", for="") Product URL
                                input(class="block w-full py-4 pl-6 mb-2 text-sm placeholder-blue-400 text-blue-400", type="text", name="field-name", placeholder="Write a text")
                            div(class="mb-6")
                                label(class="text-gray-800 text-sm font-semibold mb-2", for="") Post text
                                textarea(class="block w-full py-4 pl-6 mb-2 text-sm placeholder-blue-400 text-blue-400 bg-blue-50", name="field-name", rows="3", placeholder="Write something...")
                            h6(class="text-base text-blue-800 mb-2 leading-tight font-bold font-heading") Add frame
                            div(class="flex flex-wrap -mx-4 -mb-4 md:mb-0")
                                div(class="w-full md:w-1/3 px-4 mb-4 md:mb-0")
                                    img(src="https://images.unsplash.com/photo-1536851101967-55988a52f455?ixlib=rb-1.2.1&ixid=MXwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHw%3D&auto=format&fit=crop&w=1036&q=80", alt="")
                                div(class="w-full md:w-1/3 px-4 mb-4 md:mb-0")
                                    img(src="https://images.unsplash.com/photo-1536851101967-55988a52f455?ixlib=rb-1.2.1&ixid=MXwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHw%3D&auto=format&fit=crop&w=1036&q=80", alt="")
                                div(class="w-full md:w-1/3 px-4 mb-4 md:mb-0")
                                    img(src="https://images.unsplash.com/photo-1536851101967-55988a52f455?ixlib=rb-1.2.1&ixid=MXwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHw%3D&auto=format&fit=crop&w=1036&q=80", alt="")
                        div(class="w-full md:w-1/2 px-4 mb-4 md:mb-0")
                            img(src="https://images.unsplash.com/photo-1536851101967-55988a52f455?ixlib=rb-1.2.1&ixid=MXwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHw%3D&auto=format&fit=crop&w=1036&q=80", alt="")
                            section(class="relative bg-blue-50 py-12")
                                div(class="container px-4 mx-auto")
                                    div(class="max-w-4xl mx-auto text-center")
                                        a(class="inline-block w-full md:w-auto mb-4 md:mr-6 py-5 px-8 text-sm font-bold uppercase border-2 border-transparent bg-yellow-500 hover:bg-yellow-400 text-blue-800 transition duration-200", href="#") POST NOW!
                                        a(class="inline-block w-full md:w-auto mb-2 py-5 px-8 text-sm text-blue-800 font-bold uppercase border-2 border-blue-800 hover:border-blue-700", href="#") POST later (coming soon)
