html(lang="en")
    head
        title Page title
        meta(charset="utf-8")
        meta(name="viewport", content="width=device-width, initial-scale=1, shrink-to-fit=no")
        meta(name="description", content="")
        meta(name="author", content="")
        link(rel="stylesheet", href="https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;600;700&display=swap")
        link(rel="stylesheet", href="css/tailwind/tailwind.min.css")
        link(rel="icon", type="image/png", sizes="16x16", href="favicon-tailwind.png")
        script(src="js/main.js")
    body(class="antialiased bg-body text-body font-body")
        div(class="flex flex-col justify-between h-screen")
            section(class="py-8 px-4 lg:px-10 bg-white")
                div(class="w-full md:w-full px-4 mx-auto")
                    nav(class="relative")
                        div(class="flex justify-between items-center")
                            a(class="text-xl text-blue-800 font-semibold", href="#")
                                img(class="h-7", src="bendis-assets/logos/postmagic_logo.svg", alt="", width="auto")
                            div(class="lg:hidden")
                                button(class="navbar-burger flex items-center p-3 rounded")
                                    svg(class="text-blue-800 block h-4 w-4", viewbox="0 0 20 20", xmlns="http://www.w3.org/2000/svg", fill="currentColor")
                                        title Mobile menu
                                        path(d="M0 3h20v2H0V3zm0 6h20v2H0V9zm0 6h20v2H0v-2z")
                            ul(class="hidden absolute top-1/2 left-1/2 transform -translate-y-1/2 -translate-x-1/2 lg:flex lg:w-auto lg:space-x-10")
                                li
                                    a(class="text-blue-800 font-semibold hover:text-blue-700", href="#") About
                                li
                                    a(class="text-blue-800 font-semibold hover:text-blue-700", href="#") Company
                                li
                                    a(class="text-blue-800 font-semibold hover:text-blue-700", href="#") Services
                                li
                                    a(class="text-blue-800 font-semibold hover:text-blue-700", href="#") Testimonials
                            div(class="hidden lg:block")
                                a(class="inline-block px-8 text-blue-800 hover:text-blue-700 font-semibold", href="#") Sign in
                                a(class="inline-block py-3 px-8 text-sm text-blue-800 hover:text-blue-700 leading-normal uppercase font-semibold border-2 border-blue-800", href="#") GO PRO!
                div(class="hidden navbar-menu fixed top-0 left-0 bottom-0 w-5/6 max-w-sm z-50")
                    div(class="navbar-backdrop fixed inset-0 bg-blue-800 opacity-90")
                    nav(class="relative flex flex-col py-8 w-full h-full bg-white border-r overflow-y-auto")
                        div(class="flex items-center mb-16 pr-6")
                            a(class="ml-16 mr-auto text-xl text-blue-800 font-semibold leading-none", href="#")
                                img(class="h-7", src="bendis-assets/logos/postmagic_logo.svg", alt="", width="auto")
                        div
                            ul
                                li(class="mb-1")
                                    a(class="block pl-16 py-5 font-semibold text-blue-800 hover:bg-blue-50 rounded", href="#") About
                                li(class="mb-1")
                                    a(class="block pl-16 py-5 font-semibold text-blue-800 hover:bg-blue-50 rounded", href="#") Company
                                li(class="mb-1")
                                    a(class="block pl-16 py-5 font-semibold text-blue-800 hover:bg-blue-50 rounded", href="#") Services
                                li(class="mb-1")
                                    a(class="block pl-16 py-5 font-semibold text-blue-800 hover:bg-blue-50 rounded", href="#") Testimonials
                        div(class="mt-auto px-10")
                            div(class="pt-6")
                                a(class="block mb-2 py-4 text-center text-blue-800 font-semibold", href="#") Sign in
                                a(class="block py-4 text-center text-blue-800 leading-normal uppercase border-2 border-blue-800 hover:bg-blue-50 font-semibold", href="#") GO PRO!
                            p(class="mt-6 mb-4 text-sm text-center text-blue-400")
                                span © 2021 All rights reserved © Wireframes Corporation 2021
            section(class="px-4 lg:px-10 bg-white")
                div(class="w-full md:w-full px-4 mx-auto")
                    div(class="flex flex-wrap -mx-4 -mb-4 md:mb-0")
                        div(class="w-full md:w-1/3 px-4 mb-4 md:mb-0")
                            h6(class="w-full text-xl leading-tight font-bold font-heading mb-8") ℹ️️️ Basic informations about product
                            div(class="mb-6")
                                label(class="block text-gray-800 text-sm font-semibold mb-2", for="") Name
                                input(class="block w-full mb-2 text-sm placeholder-gray-400 text-gray-400 text-sm", type="text", name="field-name", placeholder="//*Product name*//")
                            div(class="mb-6")
                                label(class="block text-gray-800 text-sm font-semibold mb-2", for="") Price
                                input(class="block w-full mb-2 text-sm placeholder-gray-400 text-gray-400 text-sm", type="text", name="field-name", placeholder="//*Product price*//")
                            div(class="mb-6")
                                label(class="block text-gray-800 text-sm font-semibold mb-2", for="") Url
                                input(class="block w-full mb-2 text-sm placeholder-gray-400 text-gray-400 text-sm", type="text", name="field-name", placeholder="//*Product url*//")
                            h6(class="w-full text-xl leading-tight font-bold font-heading mb-2.5") ⌨️️️️ Create post
                            div(class="mb-3 mt-6")
                                a(class="bg-pink-200 text-pink-500 text-xs font-semibold rounded-md py-3 px-3 mr-2.5 mb-3 inline-block", href="#") Paste name
                                a(class="bg-pink-200 text-pink-500 text-xs font-semibold rounded-md py-3 px-3 mr-2.5 mb-3 inline-block", href="#") Paste price
                                a(class="bg-pink-200 text-pink-500 text-xs font-semibold rounded-md py-3 px-3 mr-2.5 mb-3 inline-block", href="#") Paste url
                                a(class="bg-pink-200 text-pink-500 text-xs font-semibold rounded-md py-3 px-3 mr-2.5 mb-3 inline-block", href="#") 🙂
                            div(class="mb-6")
                                label(class="text-gray-800 text-sm font-semibold", for="")
                                textarea(class="block w-full mb-2 text-sm placeholder-black text-black text-sm bg-gray-100 p-5 border-black", name="field-name", rows="10", placeholder="//*Post text*//")

                        div(class="w-full md:w-1/3 px-4 mb-4 md:mb-0")
                            h6(class="w-full text-xl leading-tight font-bold font-heading mb-8") 🖼️️ Add frame
                            div(class="flex flex-wrap mb-4 relative border-blue-400")
                                input(class="block w-full py-4 px-4 text-sm placeholder-gray-400 text-gray-400 text-sm bg-gray-100", type="text", name="field-name", placeholder="Search...")
                                div(class="text-gray-400 absolute right-3 top-3")
                                    <svg xmlns="http://www.w3.org/2000/svg" class="h-6 w-6" fill="none" viewBox="0 0 24 24" stroke="currentColor">
                                    <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M21 21l-6-6m2-5a7 7 0 11-14 0 7 7 0 0114 0z" />
                                    </svg>
                            div(class="flex flex-wrap -mx-4 -mb-4 md:mb-0 overflow-y-auto h-144")
                                div(class="w-full xl:w-1/3 lg:w-1/2 xs:w-1/3 lg:px-8 xl:px-4 xs:px-4 mb-4")
                                    div(class="rounded-md bg-gray-100 lg:w-28 lg:h-28 w-24 h-24")
                                div(class="w-full xl:w-1/3 lg:w-1/2 xs:w-1/3 lg:px-8 xl:px-4 xs:px-4 mb-4")
                                    div(class="rounded-md bg-gray-100 lg:w-28 lg:h-28 w-24 h-24")
                                div(class="w-full xl:w-1/3 lg:w-1/2 xs:w-1/3 lg:px-8 xl:px-4 xs:px-4 mb-4")
                                    div(class="rounded-md bg-gray-100 lg:w-28 lg:h-28 w-24 h-24")
                                div(class="w-full xl:w-1/3 lg:w-1/2 xs:w-1/3 lg:px-8 xl:px-4 xs:px-4 mb-4")
                                    div(class="rounded-md bg-gray-100 lg:w-28 lg:h-28 w-24 h-24")
                                div(class="w-full xl:w-1/3 lg:w-1/2 xs:w-1/3 lg:px-8 xl:px-4 xs:px-4 mb-4")
                                    div(class="rounded-md bg-gray-100 lg:w-28 lg:h-28 w-24 h-24")
                                div(class="w-full xl:w-1/3 lg:w-1/2 xs:w-1/3 lg:px-8 xl:px-4 xs:px-4 mb-4")
                                    div(class="rounded-md bg-gray-100 lg:w-28 lg:h-28 w-24 h-24")
                                div(class="w-full xl:w-1/3 lg:w-1/2 xs:w-1/3 lg:px-8 xl:px-4 xs:px-4 mb-4")
                                    div(class="rounded-md bg-gray-100 lg:w-28 lg:h-28 w-24 h-24")
                                div(class="w-full xl:w-1/3 lg:w-1/2 xs:w-1/3 lg:px-8 xl:px-4 xs:px-4 mb-4")
                                    div(class="rounded-md bg-gray-100 lg:w-28 lg:h-28 w-24 h-24")
                                div(class="w-full xl:w-1/3 lg:w-1/2 xs:w-1/3 lg:px-8 xl:px-4 xs:px-4 mb-4")
                                    div(class="rounded-md bg-gray-100 lg:w-28 lg:h-28 w-24 h-24")
                                div(class="w-full xl:w-1/3 lg:w-1/2 xs:w-1/3 lg:px-8 xl:px-4 xs:px-4 mb-4")
                                    div(class="rounded-md bg-gray-100 lg:w-28 lg:h-28 w-24 h-24")
                                div(class="w-full xl:w-1/3 lg:w-1/2 xs:w-1/3 lg:px-8 xl:px-4 xs:px-4 mb-4")
                                    div(class="rounded-md bg-gray-100 lg:w-28 lg:h-28 w-24 h-24")
                                div(class="w-full xl:w-1/3 lg:w-1/2 xs:w-1/3 lg:px-8 xl:px-4 xs:px-4 mb-4")
                                    div(class="rounded-md bg-gray-100 lg:w-28 lg:h-28 w-24 h-24")
                                div(class="w-full xl:w-1/3 lg:w-1/2 xs:w-1/3 lg:px-8 xl:px-4 xs:px-4 mb-4")
                                    div(class="rounded-md bg-gray-100 lg:w-28 lg:h-28 w-24 h-24")
                                div(class="w-full xl:w-1/3 lg:w-1/2 xs:w-1/3 lg:px-8 xl:px-4 xs:px-4 mb-4")
                                    div(class="rounded-md bg-gray-100 lg:w-28 lg:h-28 w-24 h-24")
                                div(class="w-full xl:w-1/3 lg:w-1/2 xs:w-1/3 lg:px-8 xl:px-4 xs:px-4 mb-4")
                                    div(class="rounded-md bg-gray-100 lg:w-28 lg:h-28 w-24 h-24")
                                div(class="w-full xl:w-1/3 lg:w-1/2 xs:w-1/3 lg:px-8 xl:px-4 xs:px-4 mb-4")
                                    div(class="rounded-md bg-gray-100 lg:w-28 lg:h-28 w-24 h-24")
                                div(class="w-full xl:w-1/3 lg:w-1/2 xs:w-1/3 lg:px-8 xl:px-4 xs:px-4 mb-4")
                                    div(class="rounded-md bg-gray-100 lg:w-28 lg:h-28 w-24 h-24")
                                div(class="w-full xl:w-1/3 lg:w-1/2 xs:w-1/3 lg:px-8 xl:px-4 xs:px-4 mb-4")
                                    div(class="rounded-md bg-gray-100 lg:w-28 lg:h-28 w-24 h-24")
                                div(class="w-full xl:w-1/3 lg:w-1/2 xs:w-1/3 lg:px-8 xl:px-4 xs:px-4 mb-4")
                                    div(class="rounded-md bg-gray-100 lg:w-28 lg:h-28 w-24 h-24")
                                div(class="w-full xl:w-1/3 lg:w-1/2 xs:w-1/3 lg:px-8 xl:px-4 xs:px-4 mb-4")
                                    div(class="rounded-md bg-gray-100 lg:w-28 lg:h-28 w-24 h-24")
                                div(class="w-full xl:w-1/3 lg:w-1/2 xs:w-1/3 lg:px-8 xl:px-4 xs:px-4 mb-4")
                                    div(class="rounded-md bg-gray-100 lg:w-28 lg:h-28 w-24 h-24")
                                div(class="w-full xl:w-1/3 lg:w-1/2 xs:w-1/3 lg:px-8 xl:px-4 xs:px-4 mb-4")
                                    div(class="rounded-md bg-gray-100 lg:w-28 lg:h-28 w-24 h-24")
                                div(class="w-full xl:w-1/3 lg:w-1/2 xs:w-1/3 lg:px-8 xl:px-4 xs:px-4 mb-4")
                                    div(class="rounded-md bg-gray-100 lg:w-28 lg:h-28 w-24 h-24")
                                div(class="w-full xl:w-1/3 lg:w-1/2 xs:w-1/3 lg:px-8 xl:px-4 xs:px-4 mb-4")
                                    div(class="rounded-md bg-gray-100 lg:w-28 lg:h-28 w-24 h-24")
                                div(class="w-full xl:w-1/3 lg:w-1/2 xs:w-1/3 lg:px-8 xl:px-4 xs:px-4 mb-4")
                                    div(class="rounded-md bg-gray-100 lg:w-28 lg:h-28 w-24 h-24")
                                div(class="w-full xl:w-1/3 lg:w-1/2 xs:w-1/3 lg:px-8 xl:px-4 xs:px-4 mb-4")
                                    div(class="rounded-md bg-gray-100 lg:w-28 lg:h-28 w-24 h-24")
                                div(class="w-full xl:w-1/3 lg:w-1/2 xs:w-1/3 lg:px-8 xl:px-4 xs:px-4 mb-4")
                                    div(class="rounded-md bg-gray-100 lg:w-28 lg:h-28 w-24 h-24")
                                div(class="w-full xl:w-1/3 lg:w-1/2 xs:w-1/3 lg:px-8 xl:px-4 xs:px-4 mb-4")
                                    div(class="rounded-md bg-gray-100 lg:w-28 lg:h-28 w-24 h-24")
                                div(class="w-full xl:w-1/3 lg:w-1/2 xs:w-1/3 lg:px-8 xl:px-4 xs:px-4 mb-4")
                                    div(class="rounded-md bg-gray-100 lg:w-28 lg:h-28 w-24 h-24")
                                div(class="w-full xl:w-1/3 lg:w-1/2 xs:w-1/3 lg:px-8 xl:px-4 xs:px-4 mb-4")
                                    div(class="rounded-md bg-gray-100 lg:w-28 lg:h-28 w-24 h-24")
                                div(class="w-full xl:w-1/3 lg:w-1/2 xs:w-1/3 lg:px-8 xl:px-4 xs:px-4 mb-4")
                                    div(class="rounded-md bg-gray-100 lg:w-28 lg:h-28 w-24 h-24")
                                div(class="w-full xl:w-1/3 lg:w-1/2 xs:w-1/3 lg:px-8 xl:px-4 xs:px-4 mb-4")
                                    div(class="rounded-md bg-gray-100 lg:w-28 lg:h-28 w-24 h-24")
                                div(class="w-full xl:w-1/3 lg:w-1/2 xs:w-1/3 lg:px-8 xl:px-4 xs:px-4 mb-4")
                                    div(class="rounded-md bg-gray-100 lg:w-28 lg:h-28 w-24 h-24")
                                div(class="w-full xl:w-1/3 lg:w-1/2 xs:w-1/3 lg:px-8 xl:px-4 xs:px-4 mb-4")
                                    div(class="rounded-md bg-gray-100 lg:w-28 lg:h-28 w-24 h-24")
                                div(class="w-full xl:w-1/3 lg:w-1/2 xs:w-1/3 lg:px-8 xl:px-4 xs:px-4 mb-4")
                                    div(class="rounded-md bg-gray-100 lg:w-28 lg:h-28 w-24 h-24")
                                div(class="w-full xl:w-1/3 lg:w-1/2 xs:w-1/3 lg:px-8 xl:px-4 xs:px-4 mb-4")
                                    div(class="rounded-md bg-gray-100 lg:w-28 lg:h-28 w-24 h-24")
                                div(class="w-full xl:w-1/3 lg:w-1/2 xs:w-1/3 lg:px-8 xl:px-4 xs:px-4 mb-4")
                                    div(class="rounded-md bg-gray-100 lg:w-28 lg:h-28 w-24 h-24")
                                div(class="w-full xl:w-1/3 lg:w-1/2 xs:w-1/3 lg:px-8 xl:px-4 xs:px-4 mb-4")
                                    div(class="rounded-md bg-gray-100 lg:w-28 lg:h-28 w-24 h-24")
                                div(class="w-full xl:w-1/3 lg:w-1/2 xs:w-1/3 lg:px-8 xl:px-4 xs:px-4 mb-4")
                                    div(class="rounded-md bg-gray-100 lg:w-28 lg:h-28 w-24 h-24")
                                div(class="w-full xl:w-1/3 lg:w-1/2 xs:w-1/3 lg:px-8 xl:px-4 xs:px-4 mb-4")
                                    div(class="rounded-md bg-gray-100 lg:w-28 lg:h-28 w-24 h-24")
                                div(class="w-full xl:w-1/3 lg:w-1/2 xs:w-1/3 lg:px-8 xl:px-4 xs:px-4 mb-4")
                                    div(class="rounded-md bg-gray-100 lg:w-28 lg:h-28 w-24 h-24")
                                div(class="w-full xl:w-1/3 lg:w-1/2 xs:w-1/3 lg:px-8 xl:px-4 xs:px-4 mb-4")
                                    div(class="rounded-md bg-gray-100 lg:w-28 lg:h-28 w-24 h-24")
                        div(class="w-full md:w-1/3 px-4 mb-4 md:mb-0")
                            h6(class="w-full text-xl leading-tight font-bold font-heading mb-8 mt-8 md:mt-0") 🖥️ Preview
                            div(class="bg-gray-100 w-full h-64")
                            h6(class="w-full text-xl leading-tight font-bold font-heading mt-8 mb-6") ✉️ Share on social media
                            section(class="relative ")
                                    div(class="max-w-4xl mx-auto text-center")
                                        a(class="inline-block w-full mb-2 py-6 text-2xl text-black-800 bg-gray-100 font-bold", href="#") ✨ Share now on facebook!
            section(class="py-8 px-4 lg:px-10 bg-blue-50 w-full")
                div(class="w-full md:w-full mx-auto px-4")
                    div(class="flex flex-wrap justify-between items-center -mx-2")
                        div(class="w-full lg:w-2/6 px-2 flex flex-wrap justify-between items-center mb-6")
                            a(class="inline-block text-blue-800 text-lg font-semibold", href="#")
                                img(class="h-7", src="bendis-assets/logos/postmagic_logo.svg", alt="", width="auto")
                            p(class="hidden lg:block text-sm text-gray-500") All rights reserved © Wireframes Corporation 2021
                            a(class="py-5 px-8 text-sm text-blue-800 font-bold uppercase bg-yellow-500 hover:bg-yellow-400 block lg:hidden float-right", href="#") GO PRO!
                        div(class="w-full lg:w-4/6 px-2")
                            div(class="flex flex-wrap items-center justify-end")
                                ul(class="w-full lg:w-auto inline-flex flex-wrap mb-4 lg:mb-0 md:mr-6 lg:mr-16")
                                    li(class="mr-10 mb-2 md:mb-0")
                                        a(class="text-sm text-blue-500 hover:text-blue-600", href="#") Company
                                    li(class="mr-10 mb-2 md:mb-0")
                                        a(class="text-sm text-blue-500 hover:text-blue-600", href="#") Pages
                                    li(class="mr-10 mb-2 md:mb-0")
                                        a(class="text-sm text-blue-500 hover:text-blue-600", href="#") Legal
                                    li(class="mb-2 md:mb-0")
                                        a(class="text-sm text-blue-500 hover:text-blue-600", href="#") Resources
                                a(class="inline-block mr-auto lg:mr-0 py-5 px-8 text-sm text-blue-800 font-bold uppercase bg-yellow-500 hover:bg-yellow-400 hidden lg:block", href="#") GO PRO!
                            p(class="mt-6 lg:hidden text-sm text-gray-500") All rights reserved © Wireframes Corporation 2021